<!--Card 1-->
<div class="py-12 bg-white xl:mt-40">
  <div class=" mx-auto px-4 sm:px-6 lg:px-8">
    <div class="lg:text-center my-14">

      <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">
        Find the perfect car
      </p>
      <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">
        Go prepared in a rugged 4x4 to take on winter roads with ease, or a camper van to take you to the trees.
      </p>
    </div>
    <div class=" grid grid-cols-5 sm:grid-cols-1 md:grid-cols-5 lg:grid-cols-5 xl:grid-cols-4 gap-1  h-3/5">
      <%  @car.each do |car| %>
        <div class="w9/12 h-3/5 rounded overflow-hidden shadow-lg">

          <%= image_tag car.image.url ,class:"w-full h-3/5 p-4"%>
          <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2"><%= car.carmakes %></div>
          </div>
          <div class="px-6  pb-2">

            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"><%= car.caryears %></span>
          </div>
        </div>
      <% end %>
    </div>

    <div class="flex flex-col justify-center items-center my-5">
      <button
        type="submit"
        class="items-center group relative w-20   py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        <span class="absolute left-0 inset-y-0 flex items-center pl-3"></span>
        More
      </button>
    </div>
  </div>
